<!DOCTYPE html>
<html>
  <head>   
    <script type="text/javascript">
  		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>



    <link rel="stylesheet" href="{{url_for('static', filename='triplicant.css' )}}"/> 

    <link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.css' )}}"/>

    <script type="text/javascript"
  	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfCaJT8lRr65XelN33k9yxlW9ubTB-y4c&sensor=true">
	 </script>

   <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true">
   </script>

	 <script type=text/javascript src="{{
  	url_for('static', filename='jquery.js') }}"></script>

  	<script type=text/javascript src="{{
  	url_for('static', filename='triplicant.js') }}"></script>

    <script type=text/javascript src="{{
    url_for('static', filename='jquery-ui.js') }}"></script>

    <script type=text/javascript src="{{
    url_for('static', filename='spinmin.js') }}"></script>



  </head>
  <body>
      <div id="title_bar">
        <img src="{{url_for('static', filename='images/triplicant.png') }}">
      </div>
    
      <div id="content">
        
        <div id= "main">
          
          <div id ="side">  
            <div id="input">
          	Starting Location: </br>
            <input type="text" id="start" class="loc" /></br>
          	Ending Location: </br>
            <input type="text" id="end" class = "loc" />
            </div>

            <div id="controls">
            	Detour:<div id="detour_slider"> </div>
              <p class="detour_value" id ="min_detour">Direct<p> 
              <p class="detour_value" id = "max_detour">Max</p>
              
            	<button type="button" id="route" class="buttons">Get Route</button>
              <button type="button" id="clear" class="buttons">Clear</button><br/>
            	
            </div>
            <div id="stats" hidden="true">
              Score:
              <div id="score" class="output"></div>
              Path Cost:
              <div id="cost"	class="output"></div>
            </div>
          </div>
          <div id="map_canvas"></div>
        </div>
        <div id="get_started" class="info_side" hidden=true>
          <div id="default_text">
            Map a route to get information about destinations
          </div>
        </div>

        <div id="info" class="info_side" hidden=true>
          <div id="tabs">
            <ul>
              <li><a href="#Attractions">Attractions</a></li>
              <li><a href="#Lodging">Lodging</a></li>
              <li><a href="#Restaurants">Restaurants</a></li>
            </ul>
            <div id="Attractions">
               <div class="accordion">
                        <h3>Location 1</h3>
                          <div></div>
                        <h3>Location 2</h3>
                          <div></div>
                        <h3>Location 3</h3>
                          <div></div>
                        <h3>Location 4</h3>
  
                    </div>
            </div>
            <div id="Lodging"></div>
            <div id="Restaurants"></div>

        </div>
     </div>

  </body>
</html>
